// Specific CSS for your home-page
body{
  background-color: white;
  // position: fixed;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
}
head{
  width: 100%;
  height: 100%;
  overflow: auto;
}
.carousel:hover{
    box-shadow: 0 4px 20px rgb(138, 135, 135); /* Apply shadow to the hovered element */
}
.carousel{
  margin-top: 20px;
  border-radius: 30px;
}
