<h1>It's working 🎉</h1>
// Photo //
  <div class="card-container">
      <div class="card projeto">
        <img src="assets/images/leaf.jpg" class="d-block" alt="...">
        <%# <div class="card-body">
          <h2 class="card-title">Flowers</h2>
          <p class="card-text">An easier, faster way to throw a meal together</p>
          <p>Colaborated Project</p>
        </div> %>
      </div>
    </a>
  </div>
// About //
<div class="container text">
  <h3>A little bit about me </h3>
  <h4>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h4>
</div>
